h2 {
  color: brown;
}
.first {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #a26845 ;
}
.second {
font-family: Verdana;
color: #2c1303;
}